
<p>
<%= link_to "Home", "/" %>   |  <%= link_to "Bookstore", "/books" %> 	  
</p>

<h1> Book Detail Page </h1>


<% the_book_id = params["id"] %>

<% book_id = params["the_book_id"] %>
<% book = Book.read(the_book_id) %>


<% reviews = Review.where("book_id" => the_book_id) %> 
<% avg = Review.where("book_id" => the_book_id).average("rating") %>



<h2> <%= book["title"] %> ($<%= book["price"] %>) </h2>

<h2>Reviews</h2> Average rating: <% if avg.blank? %> <p><i>Not yet rated </i></p> <% else %> <%= avg.round(2) %> 
<% end %>


<% reviews.each do |review| %>
<li>
<%= review["comment"] %>
-<%= review["rating"] %> stars 
  <% end %>
</li>


